################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NWUTechTrends/.vs/NWUTechTrends/FileContentIndex/d6383c97-e148-4a20-b0ed-cf98b706a821.vsidx
/NWUTechTrends/.vs/NWUTechTrends/FileContentIndex/7c45341d-9868-4dfd-aec9-d46418b53e52.vsidx
/NWUTechTrends/.vs/NWUTechTrends/FileContentIndex
